html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    width: 100%;
    height: auto;
}

.Title{
    width: 100%;
    text-align: center;
}

.Title h3{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.link{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.Content{
    text-align: center;
   
}

.Content h3{
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.Content p{
    color: gray;
    font-size: 21px;
}

.copyright{
    color: gray;
    text-align: right;
}


